.favorite_movie {
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  overflow: hidden;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  border-radius: 20px;

  &_pic {
    display: block;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0.5em 3rem -1rem rgba(0, 0, 0, 0.5);
    }

    &-img {
      width: calc(200px / 1.5);
      min-width: calc(200px / 1.5);
      height: 200px;
      display: block;
    }
  }

  &_description {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    padding: 20px;

    &-title {
      margin-bottom: 10px;
      color: rgb(179, 54, 50);

      &:hover {
        cursor: pointer;
      }
    }

    &-release {
      font-size: 12px;
      color: grey;
      font-style: italic;
    }

    &-overview {
      font-size: 14px;
      margin-top: 20px;
      color: black;

      &:hover {
        cursor: pointer;
      }
    }

    &-average {
      font-size: 12px;
      margin-top: 20px;
      color: black;
    }
  }
}

.star {
  color: rgb(179, 54, 50);
}

.remove {
  margin-left: 20px;
  color: rgb(179, 54, 50);

  &:hover {
    cursor: pointer;
  }
}
