.main_wrapper {
  background: url("../../../public/backgroundImage/backgroundMain.jpg") center /
    cover no-repeat;
  height: 100vh;
  margin: 0;

  &-button {
    display: flex;
    align-items: flex-start;
  }
}
